.nav-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
  position: fixed;
  z-index: 1200;
  top: 0;
  left: 0;
  height: 64px;
  background-color: #fff;
  width: -webkit-fill-available;
  border-bottom: 2px solid #EEEEEE;
}
.nav-links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-brand {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.nav-logo img {
  width: 50px;
  margin: auto 5vw;

}
@media screen and (max-width: 768px) {
  .nav-logo img {
    width: 32px;
    margin: auto 2ch;
  
  }
  
}